@{
    Layout = null;
}
<html>
<head>
    </head>
<body>
    <div id="beautiful-chat" name="beautiful-chat">  </div>

  
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script type="module" src="~/js/Componentes/index.js"></script>

</body>
</html>